<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PiggyStories</title>
</head>
<body>
    <nav>
        <a href="/piggystories">Back to homepage</a>
    </nav>
    <h1>Your dashboard</h1>
    <div id="your-stories">
        <h2>Your Stories</h2>
        <div id="search-story">
            <h3>Search for a story</h3>
            <form>
                <input type="text">
                <button type="submit">Search</button>
            </form>
        </div>
        <div id="create-story">
            <a href="new-story">New story</a>
        </div>

        Placeholder for your stories
    </div>
</body>
</html>