<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PiggyStories</title>
</head>
<body>
    <h1>Register</h1>
    <div id="register-box">
        <form action="register" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="password" placeholder="Password">
            <input type="text" name="confirm-password" placeholder="Confirm password">
            <input type="email" name="email" placeholder="Email">
            <button type="submit">Create account</button>
        </form>
    </div>
    <div id="to-login">
       Already have an account? Log in <a href="/piggystories/login">here</a> !
    </div>
</body>
</html>